*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper{
  margin-top: 100px;
}
.container-login{
  width: 600px;
  margin: 0 auto;
  border: 1px solid #0d6efd;
  padding: 50px;
  border-radius: 8px;
}
.container-home{
  width: 1200px;
  margin: 0 auto;
}